In [45]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

In [53]:
df2019 = pd.read_csv('../data/interim/d2019.csv', encoding='latin1')
df2020 = pd.read_csv('../data/interim/d2020.txt', encoding='latin1')

In [54]:
df_sii = (pd.concat([df2019,df2020],axis=0)
          .melt(id_vars=['Día','year']))

In [60]:
df_sii

     year  mes  dia   valor
0    2019  Ene    1     NaN
1    2019  Ene    2  694.77
2    2019  Ene    3  697.09
3    2019  Ene    4  697.64
4    2019  Ene    5     NaN
..    ...  ...  ...     ...
715  2020  Dic   26     NaN
716  2020  Dic   27     NaN
717  2020  Dic   28  710.26
718  2020  Dic   29  710.64
719  2020  Dic   30  711.24

[720 rows x 4 columns]

In [57]:
df_sii.columns = ['dia','year','mes','valor']

In [59]:
df_sii = df_sii[['year','mes','dia','valor']]

In [61]:
df_sii.to_csv("../data/interim/df_sii.csv", encoding="latin1",index=False)

In [62]:
df_sii.groupby('mes',as_index=True).mean()

       year   dia       valor
mes
Abr  2019.5  15.5  760.389048
Ago  2019.5  15.5  748.432927
Dic  2019.5  15.5  752.561750
Ene  2019.5  15.5  724.497381
Feb  2019.5  15.5  726.342000
Jul  2019.5  15.5  735.783810
Jun  2019.5  15.5  744.299024
Mar  2019.5  15.5  753.362143
May  2019.5  15.5  754.833846
Nov  2019.5  15.5  769.540976
Oct  2019.5  15.5  753.867907
Sep  2019.5  15.5  748.036154

In [66]:
df_sii.groupby(['year','mes'],as_index=False).mean()

    year  mes   dia       valor
0   2019  Abr  15.5  667.399048
1   2019  Ago  15.5  713.703333
2   2019  Dic  15.5  770.390500
3   2019  Ene  15.5  677.552381
4   2019  Feb  15.5  656.304500
5   2019  Jul  15.5  685.396667
6   2019  Jun  15.5  692.409000
7   2019  Mar  15.5  667.678571
8   2019  May  15.5  691.211000
9   2019  Nov  15.5  776.530000
10  2019  Oct  15.5  721.032273
11  2019  Sep  15.5  718.442222
12  2020  Abr  15.5  853.379048
13  2020  Ago  15.5  784.899000
14  2020  Dic  15.5  734.733000
15  2020  Ene  15.5  771.442381
16  2020  Feb  15.5  796.379500
17  2020  Jul  15.5  786.170952
18  2020  Jun  15.5  793.718095
19  2020  Mar  15.5  839.045714
20  2020  May  15.5  821.805263
21  2020  Nov  15.5  762.884762
22  2020  Oct  15.5  788.267143
23  2020  Sep  15.5  773.402381

Al usar as_index = estamos agrupando los indices, en caso contrario se repiten.

In [ ]:
df_
for fila in df_sii:
    df_sii['fecha']

In [102]:
dt.strftime(str(df_sii['year'][0]),'/',df_sii['mes'][0],'/',str(df_sii['dia'][0]),'%Y/%m/%Y')

('2019', 'Ene', '1')

In [104]:
str(df_sii['year'][0])+'/'+df_sii['mes'][0]+'/'+str(df_sii['dia'][0])

'2019/Ene/1'

In [99]:
df_sii['dia'][2]

3

In [87]:
str(df_sii['year'][0])

'2019'

In [86]:
dt.now().strftime('%A')

'Friday'